@import "tailwindcss";

:root{

    --background:#7650D6;

    --text:#FFF8FD;

    --text-soft:#F7EBFF;

    --pink:#FFD6F3;

    --lavender:#E7C8FF;

}

html{

    scroll-behavior:smooth;

}

body{

    margin:0;

    min-height:100vh;

    overflow-x:hidden;

    color:var(--text);

    font-family:var(--font-body);

    background:

    radial-gradient(circle at top,
    rgba(255,200,240,.25),
    transparent 28%),

    radial-gradient(circle at bottom right,
    rgba(220,180,255,.18),
    transparent 30%),

    linear-gradient(

        180deg,

        #7650D6 0%,

        #8660DD 25%,

        #9572E6 50%,

        #A786EE 75%,

        #BA9AF6 100%

    );

}