@import "tailwindcss";

:root {
  --background: #7650d6;
  --text: #fff8fd;
  --text-soft: #f7ebff;
  --pink: #ffd6f3;
  --lavender: #e7c8ff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  color: var(--text);
  font-family: var(--font-body);

  background:
    radial-gradient(
      circle at top,
      rgba(255, 200, 240, 0.25),
      transparent 28%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(220, 180, 255, 0.18),
      transparent 30%
    ),
    linear-gradient(
      180deg,
      #7650d6 0%,
      #8660dd 25%,
      #9572e6 50%,
      #a786ee 75%,
      #ba9af6 100%
    );

  background-attachment: fixed;
}